# -*- mode: gitignore; -*-

gitconfig

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

### Vim ###
# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
# session
Session.vim
.netrwhist
vim/autobackups/
vim/.netrwhist

# temporary
*~
*.rej
*.bak
*.tmp
*.patch
*.gho
*.ori
*.orig

## Apple
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
